{% extends "layout.html" %}

{% block content %}

<div class="container">
    <h5 class="header">
        {% if prev_url %}
        <a href="{{prev_url}}"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></a>
        {% endif %}

        {{display_month}}

        {% if next_url %}
        <a href="{{next_url}}"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
        {% endif %}
    </h5>
    <table class="table-centered">
        <thead>
            <tr>
                <th>Day</th>
                <th>UUID</th>
            </tr>
        </thead>
        <tbody>
            {% for uuid in uuids %}
            <tr>
                <td>{{uuid|display_day}}</td>
                <td>{{uuid.uuid}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
