<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>UUID of the Day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" />
    <link rel="stylesheet" href="/static/vendor/Font-Awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/vendor/Skeleton/normalize.css" />
    <link rel="stylesheet" href="/static/vendor/Skeleton/skeleton.css" />
    <link rel="stylesheet" href="/static/css/custom.css" />
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <ul>
                <li class="navbar-item">
                    <a class="navbar-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="{{ url_for('archive') }}">Archive</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <script src="/static/vendor/clipboard.js/clipboard.min.js"></script>
    <script src="/static/scripts/copy-button.js"></script>
</body>
</html>
