<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>UUID of the Day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" />
    <link rel="stylesheet" href="/static/vendor/Font-Awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/vendor/Skeleton/normalize.css" />
    <link rel="stylesheet" href="/static/vendor/Skeleton/skeleton.css" />
    <link rel="stylesheet" href="/static/css/custom.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="manifest" href="/static/favicon/manifest.json" />
    <link rel="shortcut icon" href="/static/favicon/favicon.ico" />
    <meta name="msapplication-config" content="/static/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <ul>
                <li class="navbar-item">
                    <a class="navbar-link {% if request.endpoint == 'home' %}active{% endif %}"
                       href="{{ url_for('home') }}">
                        Home
                    </a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link {% if request.endpoint == 'archive' %}active{% endif %}"
                       href="{{ url_for('archive') }}">
                        Archive
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <footer class="footer">
        <a href="https://github.com/stvnhrlnd/UOTD" target="_blank">
            <i class="fa fa-github-square" aria-hidden="true"></i>
        </a>
    </footer>
    <script src="/static/vendor/clipboard.js/clipboard.min.js"></script>
    <script src="/static/scripts/copy-button.js"></script>
</body>
</html>
